/*UNIVERSAL STYLES*/

* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: rgb(255, 255, 255);
	color: #000000;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
	margin: 0%;
	padding: 0%;
	margin-bottom: 0%;
}

article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	/* ensures that older browsers will display HTML5 elements correctly */

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	padding-bottom: 2%;
}
		
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */

.section-title {
	text-align: center;
	font-size: 3rem;
	padding-top: 1.5rem;
}
selector{
    width: max-content;
    position: relative;
    cursor: pointer;
}
selector::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #2c2c2c;
    transition: 0.3s;
    transition-timing-function: easy-in-out;
    transform: scaleX(0)
}
selector:hover::after
{
    transform: scaleX(1);
}




/* Header Styles */
/* Basic styles for the header */
/* Basic styles for the header */
.header {
  background-color: #29283b;
  padding: 10px; /* Decrease padding to make the header smaller */
  text-align: left;
}

.logo {
  max-width: 300px; /* Decrease max-width to make the logo smaller */
  
}

.header-text {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-top: 1px;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
  
/* back on top button */
#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	cursor: pointer;
	background-color: transparent;
	color: hsl(0, 0%, 100%);
	opacity: 75%;
	padding: 0px 5px;
	border: none;
  }
  .button-image {
	width: 45px;
	border-radius: 50%;
	border: #d6d6e0;
}


/* Navbar styles */
.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #29283b; /* Adjust background color */
	padding: 10px;
	border: 1px solid #ffffff;
	
  }
  .navbar a {
  border-right: 1px solid #ffffff; /* Border color and style */
  padding-right: 10px; /* Adjust padding to create space between text and border */
}

/* Remove the border from the last item to avoid an extra border at the end */
.navbar a:last-child {
  border-right: none;
}
  
  .nav-button {
	text-decoration: none;
	color: #ffffff; /* Text color */
	padding: 5px 10px;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-button:hover {
	background-color: #ffffff; /* Hover background color */
	color: #000000; /* Hover text color */
  }
  
  .active-page {
	background-color: #ffffff; /* Active page background color */
	color: #000000; /* Active page text color */
  }
  
  
  /* Adjust the content padding-top to prevent it from being hidden behind the navbar */
  .content {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.main-content {
    width: 60%; /* Adjust as needed */
}


 
 
  
a {
	text-decoration: none;
	width: 100%;
	font-weight: 700;
	outline: none;
	text-align: center;
	line-height: 3;
	color: #000000;
	transition-duration: 0.4s;
}


  

a:link,
a:visited,
a:focus {
	color: #000000;
}

a:hover {
	background: #ffffff;
}

a:active {
	background: #d6d6e0;
	outline-style: dotted;
	outline-color: #000000;
	outline-offset: -4px;
	transition-duration: 0s;
}

a.left-nav-button:hover,
a.left-nav-button:active,
a.left-nav-button:visited {
	border-top-left-radius: 20px;
}

a.right-nav-button:hover,
a.right-nav-button:active
a.left-nav-button:visited {
	border-top-right-radius: 20px;
}

.active-page {
	background: #fafbff;
	border-top-left-radius: 20px;
}


/*HERO SECTION*/

.hero {
    position: relative;
    height: 60vh; /* Adjust the height as needed */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflowing content */
}

.hero-description {
    position: relative;
    color: #dddddd;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
}

.slideshow {
    width: 80%; /* Adjust the width of the slideshow */
    height: 80%; /* Adjust the height of the slideshow */
    max-width: 100%; /* Adjust the max-width if needed */
    overflow: hidden; /* Hide overflowing images */
    border: 2px solid #000000; /* Example border */
}





/*ABOUT*/

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
	font-size: 1.4rem;
}
.about-frame {
    border: 2px solid #ccc; /* Adjust the border style and color as needed */
    padding: 20px;
    border-radius: 10px; /* Optional: Add rounded corners for a softer look */
    max-width: 600px; /* Optional: Set a maximum width for the frame */
    margin: 0 auto; /* Center the frame horizontally */
  }

.owner-image {
	width: 450px;
	border-radius: 50%;
	border: solid 2px #000000;
	margin-bottom: 0px;
}

.about-description {
	margin: 40p;
	margin-top: 3%;
	font-size: 1.6rem;
	width: auto;
	
	
}

.about-images {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.about-images a {
	text-decoration: none;
	width: auto;
	font-weight: normal;
	outline: none;
	text-align: center;
	line-height: 1;
	color: #000000;
	transition-duration: 0.4s;
}

.about-images a:link,
.about-images a:visited,
.about-images a:focus {
	color: #000000;
}

.about-images a:hover {
	background: #29283b;
	transform: translate(0, -5%);
}

.about-images-item {
	margin: 3%;
	color: #ffffff;
}

.about-image {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: solid 2px #ffffff;
}

.about-image:hover {
	box-shadow: 0 5px 5px rgba(255, 255, 255, 0.5);
}



/*SHOP ITEMS*/

.shop-items {
	background: #29283b;
	color: #ffffff;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 20px;
	padding-bottom: 3%;
	height: auto;
	
}
/* Adjusting the margin for each element individually */
.railings,
.furniture,
.door,
.kitchen,
.roleta,
.orman {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%; 
	margin: 0%;
}





.items-title {
	width: 100%;
	text-align: center;
	font-size: 1.7em;
	margin: 0%;
	padding: 0%;
}

.item {
	width: 400px;
	margin: 0 5% 3% 5%;
}

.item img {
	width: 400px;
	height: 400px;
	border-radius: 20px;
	border: solid 2px #000000;
}

.price {
	font-weight: 600;
}


/*LOCATION*/

.google-map {
    padding-bottom: 40%; 
    position: relative;
    border-radius: 15px; /* Reduced border-radius */
    border: solid 2px #000000;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 15px; /* Reduced border-radius */
}




  


/*CONTACT*/

.contact {
	background-color: #778899;
	color: #000000;
	text-align: center;
	padding-bottom: 2%;
	border-radius: 20px;
	width: auto;
	height: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
}


.contact a:active,
.contact a:hover {
	padding: 0.5em;
	border-radius: 20px;
}
.email {
	text-align: left;
	font-size: medium;
	padding: 0px;
	margin-top: 10px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #a9a9a9;
	border-radius: 20px;
  }


#emailForm {
	max-width: 500px;
	margin: 0 auto;
  }
  
  #emailForm label {
	display: block;
	margin: 10px 0;
	margin-left: 3px;
  }
  
  #emailForm input,
  #emailForm textarea {
	width: 98%;
	padding: 10px;
	margin-bottom: 15px;
	margin-left: 2px;
	box-sizing: border-box;
  }
  
  #emailForm input[type="submit"] {
	background-color: #29283b;
	color: #ffffff;
	cursor: pointer;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
  }
  
  #emailForm input[type="submit"]:hover {
	background-color: #1c1b29;
  }
  


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
  padding: auto;
  margin-right: auto;
  margin-left: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
	padding-bottom: 3.5%;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

.footer p.copyright {
  font-size: 18px;
  color: #bbbbbb;
  text-align: center;
}

.footer p.copyright i {
  margin-right: 5px; /* Add some space between the copyright symbol and text */
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}



}
 


/*MEDIA QUERIES*/

/*Small (Mobile) Screens (480px & smaller)*/
@media screen and (max-width: 480px) {

	.header {
		height: 50px;
		font-size: 0%;
	}
	.footer{
		font-size: small;
		position: bottom;
	}
	.logo {
		max-width: 20%;
	}

	.navbar {
		flex-direction: row;
		font-size: 6.5px;
		background-color: #999999;

		padding: 10px;
	}

	.hero {
		height: 50vh;
	}

	.hero-description {
		font-size: 1.2rem;
	}

	.hero-description h2 {
		font-size: 2.1rem;
	}
	.hero-description p{
		margin-top: 2% ;
	}

	.section-title {
		font-size: 2.5rem;
	}

	.owner-image {
		width: 200px;
	}

	.about-description {
		width: 100%;
		margin: 20px 0;
	}

	.about p {
		font-size: 0.5em;
	}

	.about-images {
		flex-direction: row;
		font-size: 10px;
		padding: 10px;
		
	}

	.about-images-item h3 {
		font-size: 1.1em;
	}

	.about-image {
		width: 80px;
		height: 80px;
	}

	.items-title {
		font-size: 1.3em;
	}

	.mobile-span {
		display: inline-flex;
		justify-content: space-between;
		width: 100%;
	}

	.mobile-span.item-description {
		width: 60%;
	}

	div.mobile-span {
		font-size: 0.8em;
		margin: 0 0 5% 0;
	}

	div.price {
		margin-left: 5%;
	}

	.item {
		margin-bottom: 5%;
		width: 350px;
	}

	.item img {
		width: 350px;
		height: 350px;
	}

	.contact a {
		font-size: 1.1rem;
		
	}
	.contact
	{
		margin-left: 2%;
		margin-right: 2%;
		width: auto;
		height: auto;
		font-size: 1.3rem;
	}

	.email a {
		font-size: medium;
	}
	.email
	{
		width: auto;
		height: auto;
		margin-left: 2%;
		margin-right: 2%;
		font-size: medium;
	}

	#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	cursor: pointer;
	background-color: transparent;
	color: hsl(0, 0%, 100%);
	opacity: 75%;
	padding: 0px 2px;
	border-radius: 25px;
	border: none;
  }
  .button-image {
	width: 45px;
	position: center;
	border-radius: 50%;
}

}
.facebook {
	width: 100%; /* Adjust width as needed */
	max-width: 5000px; /* Maximum width for the container */
	height: 661px; /* Adjust height as needed */
	border: 1px solid #ffffff; /* Border style for the container */
	overflow: hidden; /* Hide any overflow from the embedded content */
	
  }


/*Medium (Tablet) Screens (480px to 768px)*/
@media screen and (min-width: 480px) and (max-width: 768px) {

	.header {
		font-size: 2.5em;
	}

	.logo {
		width: 25%;
	}

	.hero {
		height: 70vh;
	}

	.navbar {
		flex-direction: column;
	}

	.hero-description {
		font-size: 1.2rem;
	}

	.hero-description h2 {
		font-size: 2.1rem;
	}

	.owner-image {
		width: 175px;
	}

	.about-description {
		width: 100%;
	}

	.about p {
		font-size: 0.9em;
	}

	.about-images {
		flex-direction: column;
	}

	.about-images-item h3 {
		font-size: 1.4em;
	}

	.about-image {
		width: 250px;
		height: 250px;
	}

	.section-title {
		font-size: 2.6rem;
	}

	.items-title {
		font-size: 1.5em;
	}

	.mobile-span {
		display: inline-flex;
		justify-content: space-between;
		width: 100%;
	}

	.mobile-span.item-description {
		width: 60%;
	}

	div.mobile-span {
		font-size: 0.8em;
		margin: 0 0 5% 0;
	}

	div.price {
		margin-left: 5%;
	}

	.item {
		margin-bottom: 5%;
		width: 294px;
	}

	.item img {
		width: 294px;
		height: 294px;
	}

	.contact a {
        font-size: 1.2rem;
		margin-left: 2%;
		margin-right: 2%;
        transition: color 0.3s ease; /* Smooth transition for color change */
        color: #007BFF; /* Set the default color */
    }

    .contact a:hover {
        color: #FF5733; /* Change the color on hover */
    }
	

	
	/* Style the dropdown container */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	/* Style the dropdown button */
	.dropbtn {
		background-color: #4CAF50;
		color: white;
		padding: 12px;
		font-size: 16px;
		border: none;
		cursor: pointer;
	}

	/* Style the dropdown content (hidden by default) */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		box-shadow: 0 8px 16px rgba(0,0,0,0.2);
		z-index: 1;
	}

	/* Style the dropdown links */
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	/* Change color on hover */
	.dropdown-content a:hover {
		background-color: #ddd;
	}

	/* Show the dropdown content when the dropdown is hovered over */
	.dropdown:hover .dropdown-content {
		display: block;
	}
	

}